<div class="container-fluid unselectable">
  <div class="row" style="margin-bottom: 10px">
    <button
      class="low-height"
      [ngStyle]="
        currentRow.title === row.title
          ? {
              'font-weight': 'bold',
              'font-size': '13px',
              'line-height': '30px'
            }
          : {
              'font-weight': 'normal',
              'font-size': '13px',
              'line-height': '30px'
            }
      "
      mat-raised-button
      *ngFor="let row of matrix"
      (click)="setCurrentRow(row)"
    >
      {{ row.title }}
    </button>
  </div>
  <div class="row">
    <div class="col-2">
      {{ currentRow.title }}
    </div>
    <div class="col-10">
      <mat-chip-grid>
        <mat-chip-row
          *ngFor="let tag of currentRow.value"
          (click)="
            tryAddValidatedWithGroup(tag, resultsArray, false); showNext()
          "
          [ngStyle]="{
            color: 'white',
            border: isThisTagSelected(tag.name) ? '2px solid black' : '',
            'background-color': tag.color,
            'min-height': '25px',
            'font-size': 'small'
          }"
        >
          {{ tag.name }}
        </mat-chip-row>
      </mat-chip-grid>
    </div>
  </div>
  <hr />
  <div class="row" style="padding-left: 10px">
    <!-- <mat-chip-listbox>
        <mat-chip-option -->
    <mat-chip-grid #customId>
      <span style="font-weight: bold; padding-right: 5px"> custom </span>
      <mat-chip-row
        *ngFor="let item of songSuggestions.concat(custom)"
        (click)="tryAddValidated(item, resultsArray, true)"
        style="color: white"
        [ngStyle]="{
          'background-color': 'grey',
          'min-height': '25px',
          'font-size': 'small'
        }"
        [removable]="true"
        (removed)="removeCustom(item)"
      >
        {{ item }}
      </mat-chip-row>
      <input
        style="max-width: 100px"
        placeholder="New Type..."
        [matChipInputFor]="customId"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addCustom($event)"
      />
    </mat-chip-grid>
  </div>
</div>

<div
  (click)="isOpen = !isOpen"
  class="clickable-text"
  style="height: 20px; background-color: rgb(238, 237, 237)"
>
  More
</div>
<div *ngIf="isOpen">
  <div class="container-fluid unselectable">
    <div class="row tight-row" *ngFor="let row of matrix">
      <div
        class="col-2"
        [ngStyle]="{
          border: isThisGroupSelected(row.title) ? '2px solid black' : ''
        }"
      >
        {{ row.title }}
      </div>
      <div class="col-10">
        <mat-chip-list>
          <div *ngFor="let tag of row.value">
            <mat-chip
              (click)="tryAddValidatedWithGroup(tag, resultsArray, true)"
              style="color: white"
              [ngStyle]="{
                color: 'white',
                border: isThisTagSelected(tag.name) ? '2px solid black' : '',
                'background-color': tag.color,
                'min-height': '25px',
                'font-size': 'small'
              }"
            >
              {{ tag.name }}
            </mat-chip>
          </div>
        </mat-chip-list>
      </div>
    </div>
  </div>
</div>
