<div class="container-fluid">
  <div class="menu">
    <div class="container-fluid">
      <div class="row tight-row">
        <div class="col-2">{{ getFileName(currentFile) }}</div>
        <div class="col-10">{{ currentFile }}</div>
      </div>
      <div class="row tight-row" *ngFor="let row of suggestionsAsMatrix">
        <div class="col-2">{{ row.title }}</div>
        <div class="col-10">
          <mat-chip-list>
            <mat-chip
              (click)="tryAddValidated(tag.name, resultsArray)"
              *ngFor="let tag of row.value"
              style="color: white"
              [ngStyle]="{
                'background-color': tag.color,
                'min-height': '25px',
                'font-size': 'small'
              }"
            >
              {{ tag.name }}
            </mat-chip></mat-chip-list
          >
        </div>
      </div>
      <div class="row tight-row">
        <div class="col-2">custom</div>
        <div class="col-10">
          <mat-chip-list #customId>
            <mat-chip
              *ngFor="let item of songSuggestions.concat(custom)"
              (click)="tryAddValidated(item, resultsArray)"
              style="color: white"
              [ngStyle]="{
                'background-color': 'grey',
                'min-height': '25px',
                'font-size': 'small'
              }"
              [removable]="true"
              (removed)="removeCustom(item)"
            >
              {{ item }}
            </mat-chip>
            <input
              placeholder="New Type..."
              [matChipInputFor]="customId"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="addCustom($event)"
            />
          </mat-chip-list>
        </div>
      </div>
      <div class="row tight-row">
        <div class="col-2">current</div>
        <div class="col-10">
          <mat-chip-list>
            <mat-chip
              *ngFor="let tag of resultsArray"
              style="color: white"
              (click)="remove(tag)"
              [ngStyle]="{
                'background-color': getColor(tag),
                'min-height': '25px',
                'font-size': 'small'
              }"
            >
              {{ tag }}
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>

      <div class="row">
        <div class="checkbox">
          <mat-checkbox [(ngModel)]="isAutoplay">Auto Play</mat-checkbox>
        </div>
        <div class="checkbox">
          <mat-checkbox [(ngModel)]="isAutoSort">Auto Sort</mat-checkbox>
        </div>
        <div class="checkbox">
          <mat-checkbox [(ngModel)]="isSaveOnEnter">Save On Enter</mat-checkbox>
        </div>
      </div>
    </div>
    <!-- menu end -->
  </div>
  <div class="container-fluid">
    <div
      *ngFor="let file of folders"
      class="row"
      [ngClass]="currentFile === file ? 'row selected' : 'row'"
    >
      <div
        appAntiSpamClick
        (debounceClick)="setCurrentFile(file)"
        [debounceTime]="1000"
        class="col-10 button-align clickable-text"
      >
        {{ getFileName(file) }}
      </div>
      <div class="col-2">
        <button
          class="mini-button"
          mat-mini-fab
          color="white"
          (click)="playSong(file)"
          aria-label="Play"
        >
          <mat-icon>play_arrow</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="height: 500px"></div>
</div>
<span class="footer-feedback" style="color: grey">
  Last action: {{ currentFeedback }}</span
>

<div class="footer">
  <!-- <div class="checkbox">
    <mat-checkbox [(ngModel)]="isPlayAndData">Play and Show</mat-checkbox>
  </div> -->
  <mat-form-field style="width: 100px">
    <mat-label>File Type</mat-label>
    <input matInput [(ngModel)]="fileContains" />
  </mat-form-field>
  <button
    mat-fab
    color="primary"
    appAntiSpamClick
    (debounceClick)="openFolder()"
    [debounceTime]="300"
    aria-label="Play"
  >
    <mat-icon>folder_open</mat-icon>
  </button>
  <div *ngIf="isLoading">
    Loading...
    <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
  </div>
</div>
