/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(69, 84, 89);
}

.tight-row {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 3px;
}

/* has to be in relative container */
.mini-feedback {
  bottom: 0;
  right: 0;
  position: absolute;
  color: rgb(130, 1, 1);
}
/*
thanks to:
https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.file-row {
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 3px;
  margin: 2px;
}

.feedback {
  display: inline-block;
  font-size: smaller;
}

.selected {
  color: rgb(0, 93, 136);
  font-weight: bolder;
}

.not-selected {
  cursor: pointer;
}

.table {
  padding: 10px;
}

.menu {
  padding: 5px;
  left: 0px;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 100;
  background-color: rgba(201, 201, 201, 0.9);
  border-radius: 5px;
}

.nav-active {
  border: 1px solid grey;
  border-radius: 3px;
}

.checkbox {
  margin-top: 13px;
  margin-left: 15px;
}

.footer {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  border: 1px solid lightgrey;
  right: 0;
  position: fixed;
  bottom: 0px;
  padding: 5px;
  z-index: 999;
}

.footer-feedback {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  border: 1px solid lightgrey;
  left: 0;
  position: fixed;
  bottom: 0px;
  padding: 5px;
  z-index: 998;
}

*.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
     Introduced in Internet Explorer 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
  -ms-user-select: none;
  user-select: none;
}

.mini-button {
  margin: 3px;
  border-radius: 100%;
  border: 1px solid lightgrey;
  display: inline-block;
}

.mini-button:hover {
  border: 1px solid grey;
}

.full-width {
  width: 100%;
}

.button-align {
  padding: 6px 12px;
  line-height: 2;
  vertical-align: middle;
}

.clickable-text:hover {
  border: 1px solid black;
}

.clickable-text:active {
  border: 1px solid lightgrey;
}

.clickable-text {
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid lightgrey;
}

.drag-box {
  border: 1px solid grey;
  border-radius: 20px;
  margin: 1px;
  color: white;
  background-color: grey;
  text-align: center;
  padding: 2px;
}

.drag-container {
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  padding: 3px;
}
