.control-panel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.label,
.hint {
  flex-basis: 20%;
  white-space: nowrap;
  padding: 5px;
}

.checkbox {
  flex-grow: 1;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
