<nav class="navbar navbar-dark bg-dark">
  <div class="navbar-brand">Musicorizer</div>
  <ul class="nav">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/music-sorter"
        [routerLinkActive]="['nav-active']"
        >Sorter</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/music-tagger-file"
        [routerLinkActive]="['nav-active']"
        >Tagger</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/suggestions-manager"
        [routerLinkActive]="['nav-active']"
        >Suggestions Manager</a
      >
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
