<div class="container unselectable">
  <div class="row tight-row" *ngFor="let row of matrix">
    <div
      class="col title-col"
      [class.selected-group]="isThisGroupSelected(row)"
    >
      {{ row.title }}
    </div>
    <div class="col-10">
      <mat-chip-list class="chip-list">
        <mat-chip
          *ngFor="let tag of row.value"
          class="tag-chip"
          [class.selected-tag]="isThisTagSelected(tag.name)"
          [ngStyle]="{ 'background-color': tag.color }"
          (click)="tryAddValidatedWithGroup(tag, resultsArray, true)"
        >
          {{ tag.name }}
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</div>
