<div class="container-fluid">
  <div class="row">
    <app-matrix-json
      [matrix]="suggestionMatrix"
      [isSearch]="true"
      [searchArray]="searchArray"
      (sendDataToParent)="onJsonMatrixSelection($event)"
    ></app-matrix-json>
  </div>
  <div class="row">
    <app-sortable-searchable-table
      (selectedItem)="onTableSelection($event)"
      (tableChange)="onTableChange($event)"
      (searchChange)="onTableSearch($event)"
      [matrixIn]="filteredMatrix"
      [columnTitlesArray]="matrixTitles"
      [isFixed]="false"
      [ignoreColumns]="['dir']"
    ></app-sortable-searchable-table>
  </div>
</div>
