<div class="container-fluid unselectable" style="min-height: 100px">
  <div class="row" style="margin-bottom: 10px">
    <button
      class="low-height"
      [ngStyle]="{
        'font-weight': currentRow.title === row.title ? 'bold' : 'normal',
        'font-size': '13px',
        'line-height': '25px',
        'padding-left': '2px',
        'padding-right': '2px'
      }"
      mat-raised-button
      *ngFor="let row of matrix"
      (click)="setCurrentRow(row)"
    >
      {{ row.title }}
    </button>
  </div>
  <div class="row">
    <div class="col-2">
      {{ currentRow.title }}
    </div>
    <div class="col-10">
      <mat-chip-list>
        <mat-chip
          *ngFor="let tag of currentRow.value"
          (click)="
            tryAddValidatedWithGroup(tag, resultsArray, false); showNext()
          "
          [ngStyle]="{
            color: 'white',
            border: isThisTagSelected(tag.name) ? '2px solid black' : '',
            'background-color': tag.color,
            'min-height': '25px',
            'font-size': 'small'
          }"
        >
          {{ tag.name }}
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</div>
